body {
    background-image: url("/resources/pages/img/background.png");
    background-size: 100%;
}

.block {
    background-image: url("/resources/pages/img/separator.png");
    width: 80%;
    height: 100%;
}